* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  background: rgba(255, 255, 255, 0.25);
  padding: 30px 25px 35px;
  border-radius: 25px;
  text-align: center;
  width: 90%;
  max-width: 380px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  backdrop-filter: blur(12px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}


h1 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.date {
  font-size: 0.9rem;
  opacity: 0.9;
  margin-bottom: 25px;
}

/* CONTENEDOR GENERAL */
.container {
  width: 90%;
  max-width: 380px;
  margin: auto;
  padding: 30px 25px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SLIDER */
.slider {
  width: 260px;
  height: 260px;
  margin: 20px auto;

  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* BOTONES */
.buttons {
  width: 260px;
  height: 60px;
  margin-top: 20px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#yesBtn {
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
}

#noBtn {
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background: white;
  color: #ff4d6d;
  cursor: pointer;

  position: absolute;
  right: 0;
}








